StrongAuthDashboard-LogicApp.arm.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "defaultValue": "Import-StrongAuthDashboadData",
            "type": "string"
        },
        "LogAnalyticsWorkspaceName": {
            "defaultValue": "",
            "type": "string"
        },
        "LogAnalyticsWorkspaceId": {
            "defaultValue": "",
            "type": "string"
        },
        "LAWSResourceGroup": {
            "defaultValue": "",
            "type": "string"
        },
        "LAWSSubscriptionId": {
            "defaultValue": "",
            "type": "string"
        },
        "LAWSConnectionName": {
            "defaultValue": "connection-Import-StrongAuthDashboadData",
            "type": "string"
        },
        "LogAnalyticsWorkspaceKey": {
            "defaultValue": "",
            "type": "securestring"
        },
        "IdOfTheFirstGroupInScope": {
            "defaultValue": "",
            "type": "string"
        }
    },
    "variables": {
        "LAWSConnectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('LAWSConnectionName'))]",
        "LAWSConnectionApiId": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]",
        "WorkbookSourceId" : "[concat('/subscriptions/', parameters('LAWSSubscriptionId'), '/resourcegroups/', parameters('LAWSResourceGroup'), '/providers/microsoft.operationalinsights/workspaces/', parameters('LogAnalyticsWorkspaceName'))]",
        "GroupIDs" : "[concat('[', parameters('IdOfTheFirstGroupInScope'), ']')]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('LAWSConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('LAWSConnectionName')]",
                "customParameterValues": {},
                "nonSecretParameterValues": {
                    "token:TenantId": "[subscription().tenantId]",
                    "token:grantType": "code"
                },
                "parameterValues": {
                    "username": "[parameters('LogAnalyticsWorkspaceId')]",
                    "password": "[parameters('LogAnalyticsWorkspaceKey')]"
                  },
                "api": {
                    "name": "azureloganalyticsdatacollector",
                    "displayName": "Azure Log Analytics Data Collector",
                    "description": "Azure Log Analytics Data Collector will send data to any Azure Log Analytics workspace.",
                    "iconUri": "https://connectoricons-prod.azureedge.net/releases/v1.0.1549/1.0.1549.2680/azureloganalyticsdatacollector/icon.png",
                    "brandColor": "#0072C6",
                    "id": "[variables('LAWSConnectionApiId')]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "dependsOn" : [
                "[variables('LAWSConnectionId')]"
            ],
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "For_each_Group": {
                            "actions": {
                                "For_each_Member": {
                                    "actions": {
                                        "For_each_Auth_Method": {
                                            "actions": {
                                                "Send_Data": {
                                                    "inputs": {
                                                        "body": "{\n \"id\": \"@{items('For_each_Member')?['id']}\",\n \"upn\": \"@{items('For_each_Member')?['userPrincipalName']}\",\n \"group\": \"@{items('For_each_Group')}\",\n\"groupname\": \"@{body('Parse_JSON_Group')?['displayName']}\",\n \"AuthMethod\": \"@{items('For_each_Auth_Method')?['@odata.type']}\"\n}",
                                                        "headers": {
                                                            "Log-Type": "UserGroupCollection"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/api/logs"
                                                    },
                                                    "runAfter": {},
                                                    "type": "ApiConnection"
                                                }
                                            },
                                            "foreach": "@body('Parse_JSON_2')?['value']",
                                            "runAfter": {
                                                "Parse_JSON_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "HTTP": {
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://graph.microsoft.com",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "GET",
                                                "uri": "https://graph.microsoft.com/beta/users/@{items('For_each_Member')?['userPrincipalName']}/authentication/methods"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "HTTP_-_Get_Auth_Methods": {
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://graph.microsoft.com",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "GET",
                                                "uri": "https://graph.microsoft.com/beta/reports/credentialUserRegistrationDetails?$filter=userPrincipalName eq '@{items('For_each_Member')?['userPrincipalName']}'"
                                            },
                                            "runAfter": {
                                                "For_each_Auth_Method": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http"
                                        },
                                        "Parse_JSON_2": {
                                            "inputs": {
                                                "content": "@body('HTTP')",
                                                "schema": {
                                                    "properties": {
                                                        "body": {
                                                            "properties": {
                                                                "@@odata.context": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "@@odata.type": {
                                                                                "type": "string"
                                                                            },
                                                                            "clientAppName": {
                                                                                "type": "string"
                                                                            },
                                                                            "createdDateTime": {},
                                                                            "creationDateTime": {},
                                                                            "deviceTag": {
                                                                                "type": "string"
                                                                            },
                                                                            "displayName": {
                                                                                "type": "string"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "password": {},
                                                                            "phoneAppVersion": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "@@odata.type",
                                                                            "id",
                                                                            "createdDateTime"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "headers": {
                                                            "properties": {
                                                                "Content-Length": {
                                                                    "type": "string"
                                                                },
                                                                "Content-Type": {
                                                                    "type": "string"
                                                                },
                                                                "Date": {
                                                                    "type": "string"
                                                                },
                                                                "OData-Version": {
                                                                    "type": "string"
                                                                },
                                                                "Strict-Transport-Security": {
                                                                    "type": "string"
                                                                },
                                                                "Transfer-Encoding": {
                                                                    "type": "string"
                                                                },
                                                                "Vary": {
                                                                    "type": "string"
                                                                },
                                                                "client-request-id": {
                                                                    "type": "string"
                                                                },
                                                                "request-id": {
                                                                    "type": "string"
                                                                },
                                                                "x-ms-ags-diagnostic": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "statusCode": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "runAfter": {
                                                "HTTP": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson"
                                        },
                                        "Parse_JSON__Auth_Methods": {
                                            "inputs": {
                                                "content": "@body('HTTP_-_Get_Auth_Methods')",
                                                "schema": {
                                                    "properties": {
                                                        "body": {
                                                            "properties": {
                                                                "@@odata.context": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "isCapable": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "isEnabled": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "isMfaRegistered": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "isRegistered": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "userDisplayName": {
                                                                                "type": "string"
                                                                            },
                                                                            "userPrincipalName": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "userPrincipalName",
                                                                            "userDisplayName",
                                                                            "isRegistered",
                                                                            "isEnabled",
                                                                            "isCapable",
                                                                            "isMfaRegistered"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "headers": {
                                                            "properties": {
                                                                "Content-Length": {
                                                                    "type": "string"
                                                                },
                                                                "Content-Type": {
                                                                    "type": "string"
                                                                },
                                                                "Date": {
                                                                    "type": "string"
                                                                },
                                                                "OData-Version": {
                                                                    "type": "string"
                                                                },
                                                                "Strict-Transport-Security": {
                                                                    "type": "string"
                                                                },
                                                                "Transfer-Encoding": {
                                                                    "type": "string"
                                                                },
                                                                "Vary": {
                                                                    "type": "string"
                                                                },
                                                                "client-request-id": {
                                                                    "type": "string"
                                                                },
                                                                "request-id": {
                                                                    "type": "string"
                                                                },
                                                                "x-ms-ags-diagnostic": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "statusCode": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "runAfter": {
                                                "HTTP_-_Get_Auth_Methods": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson"
                                        }
                                    },
                                    "foreach": "@body('Parse_JSON_-_Member')?['value']",
                                    "runAfter": {
                                        "Parse_JSON_-_Member": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "HTTP_-_Get_Group": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/v1.0/groups/@{items('For_each_Group')}/"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                },
                                "HTTP_-_Get_Group_Member": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/v1.0/groups/@{items('For_each_Group')}/members"
                                    },
                                    "runAfter": {
                                        "Parse_JSON_Group": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http"
                                },
                                "Parse_JSON_-_Member": {
                                    "inputs": {
                                        "content": "@body('HTTP_-_Get_Group_Member')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "@@odata.type": {
                                                                "type": "string"
                                                            },
                                                            "businessPhones": {
                                                                "type": "array"
                                                            },
                                                            "displayName": {
                                                                "type": "string"
                                                            },
                                                            "givenName": {},
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "jobTitle": {},
                                                            "mail": {
                                                                "type": "string"
                                                            },
                                                            "mobilePhone": {},
                                                            "officeLocation": {},
                                                            "preferredLanguage": {},
                                                            "surname": {},
                                                            "userPrincipalName": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "@@odata.type",
                                                            "id",
                                                            "businessPhones",
                                                            "displayName",
                                                            "givenName",
                                                            "jobTitle",
                                                            "mail",
                                                            "mobilePhone",
                                                            "officeLocation",
                                                            "preferredLanguage",
                                                            "surname",
                                                            "userPrincipalName"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {
                                        "HTTP_-_Get_Group_Member": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson"
                                },
                                "Parse_JSON_Group": {
                                    "inputs": {
                                        "content": "@body('HTTP_-_Get_Group')",
                                        "schema": {
                                            "properties": {
                                                "body": {
                                                    "properties": {
                                                        "@@odata.context": {
                                                            "type": "string"
                                                        },
                                                        "classification": {},
                                                        "createdDateTime": {
                                                            "type": "string"
                                                        },
                                                        "creationOptions": {
                                                            "type": "array"
                                                        },
                                                        "deletedDateTime": {},
                                                        "description": {},
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "expirationDateTime": {},
                                                        "groupTypes": {
                                                            "type": "array"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "isAssignableToRole": {},
                                                        "mail": {},
                                                        "mailEnabled": {
                                                            "type": "boolean"
                                                        },
                                                        "mailNickname": {
                                                            "type": "string"
                                                        },
                                                        "membershipRule": {},
                                                        "membershipRuleProcessingState": {},
                                                        "onPremisesDomainName": {},
                                                        "onPremisesLastSyncDateTime": {},
                                                        "onPremisesNetBiosName": {},
                                                        "onPremisesProvisioningErrors": {
                                                            "type": "array"
                                                        },
                                                        "onPremisesSamAccountName": {},
                                                        "onPremisesSecurityIdentifier": {},
                                                        "onPremisesSyncEnabled": {},
                                                        "preferredDataLocation": {},
                                                        "preferredLanguage": {},
                                                        "proxyAddresses": {
                                                            "type": "array"
                                                        },
                                                        "renewedDateTime": {
                                                            "type": "string"
                                                        },
                                                        "resourceBehaviorOptions": {
                                                            "type": "array"
                                                        },
                                                        "resourceProvisioningOptions": {
                                                            "type": "array"
                                                        },
                                                        "securityEnabled": {
                                                            "type": "boolean"
                                                        },
                                                        "securityIdentifier": {
                                                            "type": "string"
                                                        },
                                                        "theme": {},
                                                        "visibility": {}
                                                    },
                                                    "type": "object"
                                                },
                                                "headers": {
                                                    "properties": {
                                                        "Cache-Control": {
                                                            "type": "string"
                                                        },
                                                        "Content-Length": {
                                                            "type": "string"
                                                        },
                                                        "Content-Type": {
                                                            "type": "string"
                                                        },
                                                        "Date": {
                                                            "type": "string"
                                                        },
                                                        "OData-Version": {
                                                            "type": "string"
                                                        },
                                                        "Strict-Transport-Security": {
                                                            "type": "string"
                                                        },
                                                        "Transfer-Encoding": {
                                                            "type": "string"
                                                        },
                                                        "Vary": {
                                                            "type": "string"
                                                        },
                                                        "client-request-id": {
                                                            "type": "string"
                                                        },
                                                        "request-id": {
                                                            "type": "string"
                                                        },
                                                        "x-ms-ags-diagnostic": {
                                                            "type": "string"
                                                        },
                                                        "x-ms-resource-unit": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "statusCode": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {
                                        "HTTP_-_Get_Group": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson"
                                }
                            },
                            "foreach": "@body('Parse_JSON')",
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variable_-_AuthMethods": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AuthMethods",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_-_GroupIDs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_-_GroupIDs": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "GroupIDs",
                                        "type": "array",
                                        "value": "[variables('GroupIDs')]"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@variables('GroupIDs')",
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_-_AuthMethods": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[variables('LAWSConnectionId')]",
                                "connectionName": "[parameters('LAWSConnectionName')]",
                                "id": "[variables('LAWSConnectionApiId')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}